* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
	background-color: #eeeeee;
}
li {
	list-style-type: none;
}
.wrapper {
	width: 85%;
	min-height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
.container {
	width: 100%;
	padding: 50px;
}
.movie {
	display: flex;
	align-items: center;
	column-gap: 20px;
	margin-bottom: 30px;
}
.movie__text {
	font-size: 20px;
	font-weight: 600;
}
.movie__select {
  min-width: 350px;
  position: relative;
}

.movie__select select {
  appearance: none;
  /*  safari  */
  -webkit-appearance: none;
  /*  other styles for aesthetics */
  width: 100%;
	font-family: inherit;
  font-size: 1.15rem;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 12px;
	box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.30);
  color: #000;
  cursor: pointer;
}

.movie__select::before,
.movie__select::after {
  --size: 0.3rem;
  content: "";
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

.movie__select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
}

.movie__select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
}
.details {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	column-gap: 20px;
	margin-bottom: 40px;
}
.details__time {
}
.time {
	width: 40%;
	padding: 12px;
	background-color: #fff;
	color: #000;
	border-radius: 12px;
	box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.30);
	position: relative;
}
.time__current {
	display: flex;
	align-items: center;
	column-gap: 10px;
	font-size: 24px;
	font-weight: 500;
	cursor: pointer;

}
.bi {
}
.bi-clock {
}
.bi-chevron-down {
}
.time__items {
	display: none;
	position: absolute;
	top: 90%;
	left: 0;
	right: 0;
	padding: 12px;
	flex-wrap: wrap;
	gap: 18px;
	
	background-color: #fff;
	color: #000;
	border-radius:0 0 12px 12px;
	box-shadow: 0px 10px 6px 0px rgba(0, 0, 0, 0.30);
	z-index: 4;
	transition: all .3s ease-in-out;
}
.time-active .time__items {
	display: flex;
}
.time__btn {
	font-size: 14px;
	font-weight: 700;
	padding: 12px 20px;
	border-radius: 4px;
	border: 1px solid #999;
	background-color: #fff;
	cursor: pointer;
	transition: all .3s ease-in-out;
}
.time__btn:hover {
	background-color: #1A2C50;
	color: #fff;
}
.details__info {
	width: 50%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	column-gap: 60px;
}
.details__item {
	position: relative;
}
.details__item::before {
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	left: -30px;
	top: 0;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #999;
}
.details__item:nth-of-type(2)::before {
	background-color: #118EEA;
}
.details__item:nth-of-type(3)::before {
	background-color: #1A2C50;
}
.seats {
	margin-bottom: 50px;
}
.seat__row{
	display: flex;
	justify-content: space-between;
	column-gap: 10px;
}
.seat__row:not(:last-child) {
	margin-bottom: 10px;
}
.seats__item {
	width: 40px;
	height: 36px;
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #9DA8BE;
	border-radius: 6px;
	background-color: #fff;
	font-size: 12px;
	font-weight: 700;
	cursor: pointer;
}
.seats__item.solid {
	background-color: #1A2C50;
	color: #fff;
}
.seats__item.selected {
	background-color: #118EEA;
	color: #fff;
}
.line {
	width: 100%;
	height: 10px;
	background-color: #118EEA;
	margin-bottom: 50px;
}
.info {
	display: flex;
	align-items: flex-start;
	column-gap: 50px;
}
.info-total,
.info-count {
	width: 20%;
}
.info-total__title,
.info-count__title {
	font-size: 18px;
	font-weight: 500;
}
.info-total__text,
.info-count__text  {
	font-size: 36px;
	font-weight: 700;
}
.info-count {
}
.info-count__title {
}
.info-count__text {
}
.info-count__text span {
	display: inline-block;
	
}
.info-count__text span:not(:last-child) {
	margin-right: 10px;
}
.info__btns {
	width: 50%;
	display: flex;
	justify-content: flex-end;
}
.info-link {
	display: block;
	width: 215px;
	padding: 12px 8px;
	border-radius: 5px;
	background-color: #1A2C50;
	text-align: center;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
}
.info-link:hover {
	text-decoration: underline;
}

@media(max-width: 1200px) {
	.wrapper {
		width: 100%;
	}
	.container {
		padding: 50px 15px;
	}
}
@media(max-width: 900px) {
	.seat__row{
		column-gap: 5px;
	}
	.seat__row:not(:last-child) {
		margin-bottom: 5px;
	}
	.seats__item {
		width: 30px;
		height: 30px;
	}
	.info {
    column-gap: 20px;
	}
	.info-total,
	.info-count {
		width: 30%;
	}
}
@media(max-width: 710px) {
	.time__current {
		font-size: 18px;
	}
	.details__info {
		column-gap: 30px;
	}
	.details__item {
		font-size: 12px;
	}
	.details__item::before {
		width: 10px;
		height: 10px;
		left: -15px;
		top: calc(50% - 7px); 
	}
	.seats__item {
		width: 25px;
		height: 25px;
		font-size: 10px;
		font-weight: 500;
	}
	.info-total__text,
.info-count__text  {
	font-size: 28px;
	font-weight: 700;
}
}

@media(max-width: 630px) {
	.seats__item {
		width: 20px;
		height: 20px;
		font-size: 8px;
		font-weight: 500;
	}
}